@page "/debug"
@using Bit.BlazorUI

<PageTitle>@title</PageTitle>
<BitLabel>@title</BitLabel>

@if (HasInternetAccess())
{
    <h1>Has internet access</h1>
}
else
{
    <h1>No internet access</h1>
}

@code {
    private const string title = "Debug";

    public bool HasInternetAccess()
    {
        var accessType = Connectivity.Current.NetworkAccess;

        return 
            accessType is NetworkAccess.Internet ||
            accessType is NetworkAccess.ConstrainedInternet;
    }
}
