@page "/workoutplanitem"

@using Amrap.Core.Domain;
@using Amrap.Core;
@using Amrap.Core.Infrastructure;
@using Bit.BlazorUI

@inject NavigationManager NavigationManager;
@inject DatabaseHandler _databaseHandler;

<PageTitle>@title</PageTitle>
<BitLabel>@title</BitLabel>

<BitActionButton IconName="BitIconName.CirclePlus" OnClick="NewExerciseType">New</BitActionButton>

@if (ExerciseTypes != null)
{
    <BitBasicList Items="ExerciseTypes" EnableVirtualization="true" Style="border: 1px #a19f9d solid; border-radius: 3px; height: 100%">
        <RowTemplate Context="exerciseType">                      
            <div @key="exerciseType.Guid" style="border-bottom: 1px #8a8886 solid; padding: 5px 20px; margin: 10px;">
                <div style="margin-left:3%; display: inline-block;">
                    <ExerciseTypeViewComponent ExerciseType="exerciseType" />
                    <BitActionButton IconName="BitIconName.CheckMark" OnClick="() => PickExerciseType(exerciseType)">Pick</BitActionButton>
                    <BitActionButton IconName="BitIconName.Edit" OnClick="() => EditExerciseType(exerciseType)">Edit</BitActionButton>
                </div>
            </div>
        </RowTemplate>
    </BitBasicList>
}

@code {
    private const string title = "Choose or add exercise type";

    private IList<ExerciseType> ExerciseTypes;

        protected override async Task OnInitializedAsync() => ExerciseTypes = await ExerciseType.GetExerciseTypes(_databaseHandler);

        private void NewExerciseType() => NavigationManager.NavigateTo("/newexercisetype");

        private void EditExerciseType(ExerciseType exerciseType) => NavigationManager.NavigateTo(exerciseType.EditUrl);

        private void PickExerciseType(ExerciseType exerciseType) => NavigationManager.NavigateTo($"/newworkoutplanitem/{exerciseType.Guid}");
}
